<body>
    <app-header></app-header>
    <main>
<br /><br /><br />
                  <div class="container">
                      <div class="col-12">
                          <h2 style="padding-left:200px;" class="contact-title">Help Us Improve</h2>
                      </div>
                      <div style="display:flex;justify-content:center;">
                          <div class="col-8">
                              <form [formGroup]="feedbackForm" (ngSubmit)="feedbackSent()" class="form-contact contact_form" id="contactForm" novalidate="novalidate">
                                <mat-form-field>
                                  <div class="row">
                                      <div class="col-12">
                                          <div style="width: 700px;" class="form-group p-0 m-0">
                                              <textarea autofocus formControlName="feedbackBody" matInput  class="form-control" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Feedback'" placeholder=" Write Your Feedback Here"></textarea>
                                          </div>
                                      </div>
                                  </div>
                                </mat-form-field>
                                  <div class="form-group mt-3">
                                      <button type="submit" [disabled]="feedbackForm.invalid" class="btn_3" mat-flat-button>Send</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                </main>
    <app-footer></app-footer>
    </body>
    <ngx-spinner color="#ff2020" type="ball-fussion"></ngx-spinner>
