<body>
  <app-header></app-header>
  <main>
    <section class="sample-text-area">
      <div class="container">
        <div class="row justify-content-center">

        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
  <!--? Search model Begin -->
  <div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
    </div>
  </div>
  <!-- Search model end -->
</body>
