<body>
  <app-header></app-header>
  <main>
    <!--================login_part Area =================-->
    <section class="login_part pt-0">
      <div class="container pt-0">
        <div class="login_part_form pt-0">
          <div class="row">
            <div class="col-4 mx-5">
              <form style="display: flex; flex-direction: column;" [formGroup]="registerform" (ngSubmit)="addRegister()"
                class="form-contact contact_form" id="contactForm">
                <mat-form-field>
                  <div class="col-12 form-group p_star">
                    <input formControlName="fName" matInput type="text" class="form-control" value=""
                      placeholder="First Name">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="col-12 form-group p_star">
                    <input formControlName="lName" matInput type="text" class="form-control" value=""
                      placeholder="Last Name">

                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="col-md-12 form-group p_star">
                    <input formControlName="email" matInput type="text" class="form-control" value=""
                      placeholder="Email">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="col-md-12 form-group p_star">
                    <input formControlName="phoneNumber" matInput type="text" class="form-control" value=""
                      placeholder="Phone Number">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="col-md-12 form-group p_star">
                    <input formControlName="username" matInput type="text" class="form-control" value=""
                      placeholder="Username">
                  </div>
                </mat-form-field>
                <mat-form-field>
                  <div class="col-md-12 form-group p_star">
                    <input formControlName="password" matInput type="password" class="form-control" id="password"
                      name="password" value="" placeholder="Password">
                  </div>
                </mat-form-field>
                <br /><br /><br />
                <button type="submit" [disabled]="registerform.invalid" value="Create" class="btn_3 mt-0"
                  mat-flat-button>
                  Register
                </button>
              </form>
            </div>
            <div class="col-6 mx-3 mt-5">
              <app-google-map class="clearfix" (setSearchedMarkerplace)="getSearchedMarkerplace($event)"
                (setDroppedMarkerLocation)="getDroppedMarkerLocation($event)" [adressNameFilled]="addressTitle"
                [latFilled]="latitude" [lngFilled]="longitude" adressType="geocode">

              </app-google-map>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================login_part end =================-->
  </main>
  <app-footer></app-footer>
  <!--? Search model Begin -->
  <div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
    </div>
  </div>
  <!-- Search model end -->
</body>
