 <app-header></app-header>
 
 <main>
        <!--================login_part Area =================-->
        <section class="login_part pt-0">
          <div class="container">
              <div class="row align-items-center">
                  <div class="offset-2">
                      <div class="login_part_form">
                          <div class="login_part_form_iner">
                              <h3 class="ml-3">
                                  Welcome ! <br>
                                  Create An Account
                              </h3>
                            <div class="row">
                            <div class="col-9">
                                     
                                <form [formGroup]="registerForm" (ngSubmit)="submit()" >
                                        
                                          <div class="col-md-12 form-group p_star">
                                              <label style="color:purple; font-weight: bold;">FullName : </label>
                                              <br>
                                            <mat-form-field >
                                                <mat-label>FullName</mat-label>
                                             
                                                <input matInput formControlName="fullName" style="font-size: x-large;" placeholder="Full Name ">
                                                <mat-error *ngIf="registerForm.controls['fullName'].hasError('required')">
                                                   
                                                    </mat-error>
                                              
                                            </mat-form-field>
                                          </div>	
                                         
                                          <div class="col-md-12 form-group p_star">
                                            <label style="color:purple; font-weight: bold;">Email : </label>
                                            <br>
                                               <mat-form-field > 
                                                   <mat-label>Email</mat-label>
                                                    <input matInput formControlName="email" style="font-size: x-large;" placeholder="Ex.pat@example.com">
                                                    <mat-error *ngIf="!registerForm.controls['email'].hasError('required') && registerForm.controls['email'].hasError('email')">
                                                        Please enter a valid email address
                                                        </mat-error>
                                                    
                                                     </mat-form-field >
                                          </div>
                                          <div class="col-md-12 form-group p_star">
                                            <label style="color:purple; font-weight: bold;">Phone Number : </label>
                                            <br>
                                           <mat-form-field >
                                           <mat-label>Phone Number</mat-label>
                                           <input matInput formControlName="phoneNumber" style="font-size: x-large;" placeholder="Ex. 077988 9870">

                                          
                                           <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('required')">
                                           
                                            </mat-error>
                                             </mat-form-field >
                                          </div>
                                       
                                          <div class="col-md-12 form-group p_star">
                                            <label style="color:purple; font-weight: bold;">UserName : </label>
                                            <br>
                                            <mat-form-field >
                                                <mat-label>UserName</mat-label>
                                                
                                                <input matInput formControlName="username"style="font-size: x-large;" placeholder="Ex. salheadmi">
                                                <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
                                                 
                                                    </mat-error>
                                            </mat-form-field >
                                          </div>
                                          <div class="col-md-12 form-group p_star">
                                            <label style="color:purple; font-weight: bold;">Password : </label>
                                            <br>
                                            <mat-form-field >
                                                <mat-label>Password</mat-label>
                                                <input type="password" matInput formControlName="password" style="font-size: xlarge;">
                                                <mat-error *ngIf="registerForm.controls['password'].hasError('minlength') && !registerForm.controls['password'].hasError('required')">
                                                Please enter a valid password 
                                                </mat-error>
                                                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                                                
                                                </mat-error>
                                                </mat-form-field >
                                          </div>
                                          <div class="col-md-12 form-group p_star">
                                            <label style="color:purple; font-weight: bold;">ConfirmPassword : </label>
                                            <br>
                                            <mat-form-field >
                                                <mat-label>ConfirmPassword</mat-label>
                                                <input type="password" matInput formControlName="confirmPassword" style="font-size: xlarge;">
                                             
                                                
                                             <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('minlength') && !registerForm.controls['confirmPassword'].hasError('required') && registerForm.controls['confirmPassword'].value != registerForm.controls['password'].value">
                                                password and confirm password does not 
                                                <strong>match</strong>
                                                
                                             </mat-error>

                                             <mat-error *ngIf="registerForm.controls['passwordConfirm'].hasError('required') " >Confirm password is required 
                                              </mat-error >

                                                </mat-form-field >
                                          </div>

                                      <br /><br /><br />
                                      <button mat-raised-button color="primary"[disabled] = "!registerForm.valid" >  Register</button >
                                      <div >
                                      <p (click)="goToLoginPage()" style="cursor:  pointer; text-align: center;font-size: 1.7em;margin-top: 40px; ">Already have an account ? Login here </p>
                                      </div >
                                        
                                         
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
        <!--================login_part end =================-->
    </main>

   <app-footer></app-footer>