<body>
    <app-header></app-header>
    <main>
        <!-- ================ contact section start ================= -->
            <div class="container pt-5">
              <div *ngFor="let item of contactUsService.data">
                <div class="row">
                  <div>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.0691382740206!2d35.86662381545981!3d32.55100000278186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c7680d80d7fa7%3A0x1fabcd0b6f33e436!2sDamascus%20St.%2C%20Irbid!5e0!3m2!1sen!2sjo!4v1633188662433!5m2!1sen!2sjo" width="700" height="450" style="border:dotted; border-color:#ff2020; border-width:0.5px" allowfullscreen="" loading="lazy"></iframe>
                  </div>
                  <div class="col-lg-3 offset-lg-1" style="margin-top:100px">
                      <div class="media contact-info">
                          <span class="contact-info__icon"><i class="ti-home"></i></span>
                          <div class="media-body">
                              <h3>{{item.address}}</h3>
                              <p>Irbid  21110</p>
                          </div>
                      </div>
                      <div class="media contact-info">
                          <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                          <div class="media-body">
                              <h3>{{item.phoneNumber}}</h3>
                              <p>Mon to Fri 9am to 6pm</p>
                          </div>
                      </div>
                      <div class="media contact-info">
                          <span class="contact-info__icon"><i class="ti-email"></i></span>
                          <div class="media-body">
                              <h3>{{item.email}}</h3>
                              <p>Send us your query anytime!</p>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
        <!-- ================ contact section end ================= -->
    </main>
    <app-footer></app-footer>
    </body>
