<body>
  <app-header></app-header>
  <main>
    <section class="cart_area pt-5">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>

                  <th scope="col">Product</th>
                  <th scope="col">Influncer</th>
                  <th scope="col"></th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cartService.cartList">

                  <td>
                    <div class="media">
                      <div class="d-flex">
                        <img [src]="createImgPath(item.image)" alt="profile picture" style="width:100px; height:100px;">
                      </div>
                      <div class="media-body">
                        <p>{{item.productTitle}}</p>
                      </div>
                    </div>
                  </td>

                  <td>
                    <h5>{{item.fName}} {{item.lName}}</h5>
                  </td>
                  <td>
                    <h5></h5>
                  </td>
                  <td>
                    <h5>$ {{item.price}}</h5>
                  </td>
                </tr>
                <tr *ngFor="let item of cartService.sumOfCart | keyvalue">

                  <td></td>
                  <td>
                    <h5>Subtotal</h5>
                  </td>
                  <td>
                  </td>
                  <td>
                    <h5>$ {{item.value}}</h5>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="checkout_btn_inner float-right">
              <a class="btn_3 mx-2" routerLink="/shop">Continue Shopping</a>
              <a class="btn_3 checkout_btn_1 mx-2" routerLink="/checkout">Proceed to checkout</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->
  </main>

  <app-footer></app-footer>
  <!--? Search model Begin -->
  <div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-btn">+</div>
      <form class="search-model-form">
        <input type="text" id="search-input" placeholder="Searching key.....">
      </form>
    </div>
  </div>
  <!-- Search model end -->
</body>
