
<body>
    <app-header></app-header>
    <main>
    <!--================Single Product Area =================-->
    <div class="product_image_area">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-10" style="justify-content:center;display:flex">
                  <div >
                      <div class="single_product_img" style="justify-content:center;display:flex">
                          <img src="" alt="Alternate Text" width="60%" />
                      </div>
                  </div>
              </div>
              <div *ngFor="let item of productService.productDetails" class="col-lg-8">
                  <div class="single_product_text text-center">
                      <h3>
                          {{item.productTitle}}
                      </h3>
                      <p>
                          {{item.description}}
                      </p>
                      <div class="card_area">
                          <div class="add_to_cart">
                              <p>$ {{item.price}}</p>
                                      <a *ngIf="loggedUserID != null" asp-controller="Orders" asp-action="Create" asp-route-id="@Model.AdvertisementId" class="btn_3">add to cart</a>
                                      <a *ngIf="loggedUserID == null" asp-controller="Orders" asp-action="Create" asp-route-id="@Model.AdvertisementId" class="btn_3" style="pointer-events:none;color:#ccc;border-color:#ccc">add to cart</a>
                                      <br />
                                      <div *ngIf="loggedUserID == null" class="my-3" >
                                          <a asp-controller="Login" asp-action="Login" asp-route-id="@Model.AdvertisementId" class="btn_3">Login or Register</a>
                                      </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <!--================End Single Product Area =================-->
    </main>
    <app-footer></app-footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    </body>
