<body class="app sidebar-mini rtl">

  <app-header></app-header>

  <main class="app-content">
    <div class="app-title">
      <div>
        <h2 class="p-0 m-0"><i></i> Admin | Employees</h2>

<button (click)="opendialog()">Okkk</button>
      </div>
    </div>
    <div class="tile mb-2 p-1 col-2 mt-3 pl-2">
      <button style="background-color: #009688; font-size: 9px;" class="m-2 btn" (click)="exportToExcel('Employees')">export as excel</button>
      <button style="background-color: #009688; font-size: 9px;" class="m-2 btn" (click)="exportToPDF('Employees')">export as PDF</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <h2>Employees</h2>
            <table class="table table-hover table-bordered" id="Employees">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Salary</th>
                  <th>Employment Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let item of employeeService.employeeList">
                <tr >
                  <td>{{item.fName}}</td>
                  <td>{{item.lName}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phoneNumber}}</td>
                  <td>$ {{item.salary}}</td>
                  <td>{{item.employmentDate | date }}</td>
                  <td>
                    <a (click)="populateForm(item.userID, item.fName, item.lName, item.email, item.phoneNumber, item.username, item.password, item.longitude, item.latitude, item.salary, item.employmentDate, item.roleID)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a (click)="openDeleteDialog(item.userID);" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <div  *ngFor="let item of employeeService.data1">
          <h1 class="app-sidebar__user-name">{{item.fName}} {{item.lName}}</h1>
        </div>
      </div>
<ul class="app-menu">
  <li><a class="app-menu__item" routerLink="/Admin/"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Home</span></a></li>
  <li><a class="app-menu__item active" routerLink="/Admin/employee"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Employees</span></a></li>
  <li><a class="app-menu__item" routerLink="/Admin/feedback"><i class="app-menu__icon fa fa-thumbs-o-up"></i><span class="app-menu__label">Feedback</span></a></li>
  <li><a class="app-menu__item" routerLink="/Admin/system"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">System</span></a></li>
</ul>
</aside>
</main>
</body>

<!-----------------------------My Edit Form ------------------------ -->
<ng-template #callAPIDialog>
  <div style="height: 225px;" mat-dialog-content>
      <div class="body">
                  <form #uupdateEmployee="ngForm" (ngSubmit)="updateEmployee(uupdateEmployee.value); uupdateEmployee.resetForm()">
                      <div>
                          <input  required  type="hidden" #userID="ngModel" matInput name="userID" [(ngModel)]="UserID">
                      </div>
                       <div>
                          <input required type="text" #fName="ngModel" matInput name="fName" [(ngModel)]="FName">
                          <label class="ml-1">First Name</label>
                          <span *ngIf="fName.invalid && fName.touched">fName is required</span>
                      </div>
                     <div>

                          <input required type="text" #lName="ngModel" matInput name="lName" [(ngModel)]="LName">
                          <label class="ml-1">Last Name</label>
                          <span *ngIf="lName.invalid && lName.touched">Last Name is required</span>
                      </div>
                      <div>

                          <input required type="text" #email="ngModel" matInput name="email" [(ngModel)]="Email">
                          <label class="ml-1">Email</label>
                          <span *ngIf="email.invalid && email.touched">email is required</span>
                      </div>
                      <div>
                          <input required type="text"  #phoneNumber="ngModel" matInput name="phoneNumber" [(ngModel)]="PhoneNumber">
                          <label class="ml-1">Phone Number</label>
                          <span *ngIf="phoneNumber.invalid && phoneNumber.touched">phoneNumber is required</span>
                      </div>
                      <div>
                          <input required type="hidden"  #username="ngModel" matInput name="username" [(ngModel)]="Usernamee">
                      </div>
                      <div>
                          <input required type="hidden"  #password="ngModel" matInput name="password" [(ngModel)]="Password">
                      </div>
                      <div>
                          <input required type="hidden"  #longitude="ngModel" matInput name="longitude" [(ngModel)]="Longitude">
                      </div>
                      <div>
                          <input required type="hidden"  #latitude="ngModel" matInput name="latitude" [(ngModel)]="Latitude">
                      </div>
                      <div>
                          <input required type="number"  #salary="ngModel" matInput name="salary" [(ngModel)]="Salary">
                          <label class="ml-1">salary</label>
                          <span *ngIf="salary.invalid && salary.touched">salary is required</span>
                      </div>
                      <div>
                          <input required type="hidden"  #employmentDate="ngModel" matInput name="employmentDate" [(ngModel)]="EmploymentDate">
                      </div>
                      <div>
                          <input required type="hidden"  #roleID="ngModel" matInput name="roleID" [(ngModel)]="RoleID">
                      </div>
                        <mat-dialog-actions >
                          <button style="background-color: #009688" class="btn m-1" matDialogClose="yes">Cancel</button>
                          <button style="background-color: #009688"  class="btn m-1 btn-jittery" matDialogClose="no" type="submit">Update</button>
                      </mat-dialog-actions >
                  </form>
              </div>
          </div>
  </ng-template>
    <!------------------------------- My Delete Form-------------------------------->
  <ng-template #callConfirmDeleteDialog>
    <h2 matDialogTitle>Sure you want to delete?</h2>
    <mat-dialog-actions >
      <div>
        <button style="background-color: #009688" class="btn m-1" mat-button matDialogClose="no">Cancel</button>
        <button class="btn m-1 btn-danger" mat-button matDialogClose="yes">Delete</button>
      </div>
    </mat-dialog-actions>
  </ng-template>
