<body class="app sidebar-mini rtl">

  <app-header></app-header>

  <main class="app-content">
    <div class="app-title">
      <div>
        <h2 class="p-0 m-0"><i></i> Delivery</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <h2>Orders</h2>
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
                  <th>Order Date</th>
                  <th>Order Value</th>
                  <th>Customer</th>
                  <th>Product Title</th>
                  <th>longitude</th>
                  <th>latitude</th>
                  <th>View Location</th>
                  <th style="text-align: center;">Delivered?</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of homeService.orderListData">
                <tr >
                  <td>{{item.orderDate | date }}</td>
                  <td>$ {{item.orderValue}}</td>
                  <td>{{item.fName}} {{item.lName}}</td>
                  <td>{{item.productTitle}}</td>
                  <td>{{item.longitude}}</td>
                  <td>{{item.latitude}}</td>
                  <td>
                    <a style="cursor: pointer;" (click)="openMapDialog()" class="delete" data-toggle="modal"><i class="material-icons mx-1" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                  </td>
                  <td *ngIf="item.isDelivered === false" style="text-align: center; width: 100px;">
                    <a style="cursor: pointer;" (click)="delivered(item.orderID)" class="approve"><i class="material-icons mx-1" data-toggle="tooltip" title="Mark as delivered">&#xe835;</i></a>
                  </td>
                  <td *ngIf="item.isDelivered === true" style="text-align: center; width: 100px;">
                    <a style="cursor: pointer;" (click)="notDelivered(item.orderID)" class="disapprove"><i class="material-icons mx-1" data-toggle="tooltip" title="Mark as not delivered">&#xe834;</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div  *ngFor="let item of homeService.data1">
      <h1 class="app-sidebar__user-name">{{item.fName}} {{item.lName}}</h1>
    </div>
  </div>
<ul class="app-menu">
  <li><a class="app-menu__item active" routerLink="/Delivery/"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Home</span></a></li>
</ul>
</aside>
  </main>
</body>

<!-- view map dialog -->
<ng-template #mapDialog>
  <mat-dialog-actions >
    <div>
      <app-google-map class="clearfix" adressType="geocode">

    </app-google-map>
    </div>
  </mat-dialog-actions>
</ng-template>
