<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="ml-0" class="logo">
                        <a routerLink=""><img src="assets\img\logo\logo3.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block ml-0">
                        <nav>
                            <ul id="navigation">
                                <li><a routerLink="">Home</a></li>
                                <li><a routerLink="/about">about</a></li>
                                <li><a routerLink="/contactus" >Contact Us</a></li>
                                <li><a routerLink="/feedback">Feedback</a></li>
                                <li>
                                  <div *ngFor="let item of headerService.data1">
                                    <a  style="color:#ff2020">{{item.fName}}</a>
                                  </div>
                                    <ul class="submenu" style="cursor: pointer;">
                                        <li><a routerLink="/orders">Orders</a></li>
                                        <li *ngIf="headerService.count != 0" ><a routerLink="/myFav">Favorites</a></li>
                                        <li *ngIf="headerService.count == 0" ><a style="cursor:not-allowed ;color: #ababab">Favorites</a></li>
                                        <li><a routerLink="/profile" >Profile</a></li>
                                        <li><a (click)="logOut()" style="color:#ff2020;">Sign Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search">
                                  <a (click)="openSearchDialog()" ><span class="flaticon-search"></span></a>
                                </div>
                            </li>
                            <div *ngFor="let item of headerService.countOfCart | keyvalue">
                            <div *ngIf="item.value == 0 || item.value == null || username == null ;else elseFun">
                                <li><span class="flaticon-shopping-cart" style="cursor:not-allowed;color:#808080"></span></li>
                              </div>
                            </div>
                              <ng-template #elseFun>
                                    <li ><a routerLink="/cart"><span class="flaticon-shopping-cart"></span></a> </li>
                              </ng-template>

                              <div *ngFor="let item of headerService.countOfCart | keyvalue">
                              <div *ngIf="username != null && item.value != null && item.value != 0">

                                <li><label style="color:#ff2020" class="mr-2 ml-0">{{item.value}}</label></li>
                            </div>
                              </div>
                                <div *ngIf="headerService.data1 == null">
                                    <li><a routerLink="/Auth"><span class="flaticon-user"></span></a></li> <!--need fixing -->
                                  </div>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
</header>
  <!-- ---------------------------ADD---------------------------- -->
<ng-template #searchDialog>
  <div style="height: 210px; width: 670px;" mat-dialog-content>
    <h1 style="text-align: center;">Search Shop</h1>
    <div class="body">
      <form [formGroup]="searchForm" (ngSubmit)="searchedFor()" class="form-contact contact_form" id="contactForm" novalidate="novalidate">
          <mat-form-field>
            <div class="row">
                <div class="col-12">
                    <div style="width: 600px;" class="form-group p-0 m-0">
                        <input formControlName="searchBody" matInput  class="form-control">
                    </div>
                </div>
            </div>
          </mat-form-field>
          <mat-dialog-actions >
            <button [disabled]="searchForm.invalid" style="background-color: #FF2020"  class="btn mx-2 btn-jittery" matDialogClose="no" type="submit">Search</button>
        </mat-dialog-actions >
      </form>
    </div>
  </div>
</ng-template>
