<body class="app sidebar-mini rtl">
  <app-header></app-header>
  <main class="app-content">
    <div class="app-title">
      <div>
        <h2 class="p-0 m-0"><i></i>Influncer</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-bar-chart fa-3x"></i>
          <div class="info">
            <h4>Sales</h4>
            <p><b *ngFor="let item of homeService.sumOfSales | keyvalue">$ {{item.value}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-money fa-3x"></i>
          <div class="info">
            <h4>Revune</h4>
            <p><b *ngFor="let item of homeService.sumOfRevune | keyvalue">$ {{item.value}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-shopping-bag fa-3x"></i>
          <div class="info">
            <h4>Orders</h4>
            <p><b *ngFor="let item of homeService.countOfOrders | keyvalue">{{item.value}}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-check fa-3x"></i>
          <div class="info">
            <h4>Products</h4>
            <p><b *ngFor="let item of homeService.countOfActiveProducts | keyvalue">{{item.value}}</b></p>
          </div>
        </div>
      </div>
    </div>
    <div style="width: auto;" class="tile mb-2 p-1 mt-3 pl-2">
      <button style="background-color: #009688; font-size: 12px;" class="m-2 btn" (click)="exportToExcel('Orders')">export as excel</button>
      <button style="background-color: #009688; font-size: 12px;" class="m-2 btn" (click)="exportToPDF('Orders')">export as PDF</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <h2>Orders</h2>
            <table class="table table-hover table-bordered" id="Orders">
              <thead>
                <tr>
                  <th>Product Title</th>
                  <th>Order Date</th>
                  <th>Order Value</th>
                  <th>Customer Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of homeService.myOrdersData">
                  <td>{{item.productTitle}}</td>
                  <td>{{item.orderDate | date}}</td>
                  <td>$ {{item.orderValue}}</td>
                  <td>{{item.fName}} {{item.lName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <div  *ngFor="let item of homeService.data1">
          <h1 class="app-sidebar__user-name">{{item.fName}} {{item.lName}}</h1>
        </div>
      </div>
<ul class="app-menu">
  <li><a class="app-menu__item active" routerLink="/Influncer/"><i class="app-menu__icon fa fa-home"></i><span class="app-menu__label">Home</span></a></li>
  <li><a class="app-menu__item" routerLink="/Influncer/products"><i class="app-menu__icon fa fa-shopping-cart"></i><span class="app-menu__label">Products</span></a></li>
</ul>
</aside>
  </main>
</body>
