<p>test works!</p>
<h1>Qaddoumi test</h1>
<input type="text" id="firstName" [(ngModel)]="firstName">

<button (click)="getName()">send</button>


<!-- form -->
<form [formGroup]="testform" (ngSubmit)="getall()">

  <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text"/>
      <mat-hint> Field is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select>
      <mat-option value="Male"> Male </mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button type="submit" [disabled]= "testform.invalid"> Register </button>
</form>


<!-- Toaster -->
<button (click) = "showToaster()" >button</button>


<!-- using ngModel (Two Way Data Binding)-->
<input type="text" placeholder="x" [(ngModel)]="x">
<h1>x: {{x}}</h1>
<h1></h1>
