<p>test works!</p>
<input type="text" id="firstName" [(ngModel)]="firstName">

<button (click)="getName()">send</button>


<!-- form -->
<form [formGroup]="testform" (ngSubmit)="getall()">

  <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text"/>
      <mat-hint> Field is required</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select>
      <mat-option value="Male"> Male </mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button type="submit" [disabled]= "testform.invalid"> Register </button>
</form>


<!-- Toaster -->
<button (click) = "showToaster()" >button</button>


<!-- using ngModel (Two Way Data Binding)-->
<input type="text" placeholder="x" [(ngModel)]="x">
<h1>x: {{x}}</h1>

<table>
  <thead>
    <td></td>
  </thead>
  <tr *ngFor="let item of testService.data">
    <td *ngFor="let item1 of item | keyvalue" >{{ item1.key }} = {{item1.value}}</td>
  </tr>
</table>

<br><br><br><br>
<table class="table-dark">
  <thead>
      <td> ID </td>
      <td> Name </td>
  </thead>
  <tr *ngFor="let item of testService.data">
        <td>{{ item.userID }}</td>
        <td>{{ item.fName }}</td>
        <button class="btn btn-danger" (click)="matdialogclick(item.userID)">Edit</button>
  </tr>
  </table>
