
<body class="app sidebar-mini rtl">

  <app-header></app-header>
  <main class="app-content">
    <div class="app-title">
      <div>
        <h2 class="p-0 m-0"><i></i> Accountant | Customers</h2>
      </div>
    </div>
    <div style="width: auto;" class="tile mb-2 p-1 mt-3 pl-2">
      <button style="background-color: #009688; font-size: 12px;" class="m-2 btn" (click)="exportToExcel('Customers')">export as excel</button>
      <button style="background-color: #009688; font-size: 12px;" class="m-2 btn" (click)="exportToPDF('Customers')">export as PDF</button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="tile-body">
            <h2>Customers</h2>
            <table class="table table-hover table-bordered" id="Customers">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of customerService.data">
                  <td>{{item.fName}}</td>
                  <td>{{item.lName}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phoneNumber}}</td>
                  <td style="text-align: center; width: 100px;">
                    <a style="cursor: pointer;" (click)="openEmailDialog(item.email)" class="senEmail" data-toggle="modal"><i class="material-icons mx-1" data-toggle="tooltip" title="Contact By Email">&#xe0d0;</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      <!-- Sidebar menu-->
      <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
      <aside class="app-sidebar">
        <div class="app-sidebar__user">
          <div *ngFor="let item of customerService.data1">
            <h1 class="app-sidebar__user-name">{{item.fName}} {{item.lName}}</h1>
          </div>
        </div>
        <ul class="app-menu">
          <li><a class="app-menu__item" routerLink="/Accountant/"><i class="app-menu__icon fa fa-home"></i><span
                class="app-menu__label">Home</span></a></li>
          <li><a class="app-menu__item" routerLink="/Accountant/employees"><i
                class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Employees</span></a></li>
          <li><a class="app-menu__item active" routerLink="/Accountant/customers"><i
                class="app-menu__icon fa fa-thumbs-o-up"></i><span class="app-menu__label">Customers</span></a></li>
          <li><a class="app-menu__item" routerLink="/Accountant/influncers"><i
                class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Influncers</span></a></li>
        </ul>
      </aside>
  </main>
</body>
<!-- ---------------------------ADD---------------------------- -->
<ng-template #emailDialog>
  <div style="height: 310px; width: 650px;" mat-dialog-content>
    <div class="body">
      <form [formGroup]="emailCustomerForm" (ngSubmit)="sendEmailToCustomer()" class="form-contact contact_form" id="contactForm" novalidate="novalidate">
          <mat-form-field>
            <div class="row">
                <div class="col-12">
                    <div style="width: 600px;" class="form-group p-0 m-0">
                        <textarea formControlName="emailBody" matInput  class="form-control" cols="30" rows="9" onfocus="this.placeholder = 'Write Your Message Here'" onblur="this.placeholder = 'Write Your Message Here'" placeholder=" Write Your Message Here"></textarea>
                    </div>
                </div>
            </div>
          </mat-form-field>
          <mat-dialog-actions >
            <button [disabled]="emailCustomerForm.invalid" style="background-color: #009688"  class="btn mx-2 btn-jittery" matDialogClose="no" type="submit">Send</button>
        </mat-dialog-actions >
      </form>
    </div>
  </div>
</ng-template>
