<body>
    <app-header></app-header>
    <main>
    <!-- About Details Start -->
    <div *ngFor="let item of aboutService.data">
    <div class="about-details pt-5">
        <div class="container" style="display:flex;justify-content:center">
            <div class="row" style="display:flex;justify-content:center">
                <div  class=" col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4 style="font-size: large;">About Us</h4>
                        <p style="font-size:14px">
                            {{item.aboutUs}}
                        </p>
                    </div>

                    <div class="about-details-cap mb-50">
                        <h4 style="font-size: large;" >Our Vision</h4>
                        <p style="font-size:14px">
                            {{item.ourVision}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!-- About Details End -->
    </main>
    <app-footer></app-footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    </body>
