<body>
    <app-header></app-header>
    <main>
    <!-- About Details Start -->
    <div *ngFor="let item of aboutService.data">
    <div style="padding-top:80px" class="about-details">
        <div class="container" style="display:flex;justify-content:center">
            <div class="row" style="display:flex;justify-content:center">
                <div  class=" col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4 style="font-size: large;">About Us</h4>
                        <p style="font-size:14px">
                            {{item.aboutUs}}
                        </p>
                    </div>

                    <div class="about-details-cap mb-50">
                        <h4 style="font-size: large;" >Our Vision</h4>
                        <p style="font-size:14px">
                            {{item.ourVision}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!-- About Details End -->
    </main>
    <app-footer></app-footer>
    </body>
    <ngx-spinner color="#ff2020" type="ball-fussion"></ngx-spinner>
